*.egg-info
*.mo
*.pyc
*~
.hypothesis
.mypy_cache
.noseids
.project
.pydevproject
.pytest_cache
.settings/
.spyderproject
.tags*
.venv
.vscode
.vscode/
/.coverage
/cover
/tags
build/
dist/
doc/
performance.json
