# pip doesn't handle well dependencies with a relative path inside a requirements.txt file.
# If we put .. instead of the first line, it will look for a setup.py in the parent directory relatively to where the instruction is executed from, and not where the requirements file is.
--editable git+https://github.com/openfisca/openfisca-core.git@master#egg=OpenFisca-Core
sphinx-argparse
