name: OpenFisca-Core / Pull request review
python_version: &upper_pyver 3.13.11
conda_python_version: &conda_pyver 3.11.14

env:
  UPPER_PYTHON_VERSION: *upper_pyver
  CONDA_PYTHON_VERSION: *conda_pyver

on:
  pull_request:
    types: [assigned, opened, reopened, synchronize, ready_for_review]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  setup-pip:
    strategy:
      fail-fast: true
      matrix:
        include:
        # NumPy 1.24.2 supports Python 3.8 to 3.11
        # Numpy 2.0.2 supports Python 3.9 to 3.12
        - os: ubuntu-24.04
          numpy: 1.24.2
          python: 3.10.11
          activate_command: source venv/bin/activate
        - os: windows-2025
          numpy: 2.0.2
          python: 3.10.11
          activate_command: .\venv\Scripts\activate
        # Python 3.11+: test both numpy 1.x and 2.x
        - os: ubuntu-24.04
          numpy: 1.26.4
          python: 3.12.10
          activate_command: source venv/bin/activate
        - os: ubuntu-24.04
          numpy: 2.3.0
          python: 3.12.10
          activate_command: source venv/bin/activate
        - os: ubuntu-24.04
          numpy: 2.3.0
          python: *upper_pyver
          activate_command: source venv/bin/activate
        - os: windows-2025
          numpy: 2.3.0
          python: *upper_pyver
          activate_command: .\venv\Scripts\activate
    uses: ./.github/workflows/_before-pip.yaml
    with:
      os: ${{ matrix.os }}
      numpy: ${{ matrix.numpy }}
      python: ${{ matrix.python }}
      activate_command: ${{ matrix.activate_command }}

  setup-conda:
    uses: ./.github/workflows/_before-conda.yaml
    with:
      os: ubuntu-24.04
      numpy: 1.26.4
      python: *conda_pyver

  test-pip:
    needs: [setup-pip]
    strategy:
      fail-fast: false
      matrix:
        include:
        # NumPy 1.24.2 supports Python 3.8 to 3.11
        # Numpy 2.0.2 supports Python 3.9 to 3.12
        - os: ubuntu-24.04
          numpy: 1.24.2
          python: 3.10.11
          activate_command: source venv/bin/activate
        - os: windows-2025
          numpy: 2.0.2
          python: 3.10.11
          activate_command: .\venv\Scripts\activate
        # Python 3.11+: test both numpy 1.x and 2.x
        - os: ubuntu-24.04
          numpy: 1.26.4
          python: 3.12.10
          activate_command: source venv/bin/activate
        - os: ubuntu-24.04
          numpy: 2.3.0
          python: 3.12.10
          activate_command: source venv/bin/activate
        - os: ubuntu-24.04
          numpy: 2.3.0
          python: *upper_pyver
          activate_command: source venv/bin/activate
        - os: windows-2025
          numpy: 2.3.0
          python: *upper_pyver
          activate_command: .\venv\Scripts\activate
    uses: ./.github/workflows/_test-pip.yaml
    with:
      os: ${{ matrix.os }}
      numpy: ${{ matrix.numpy }}
      python: ${{ matrix.python }}
      activate_command: ${{ matrix.activate_command }}

  test-conda:
    uses: ./.github/workflows/_test-conda.yaml
    needs: [setup-conda]
    with:
      os: ubuntu-24.04
      numpy: 1.26.4
      python: *conda_pyver

  lint-pip:
    needs: [setup-pip]
    strategy:
      fail-fast: true
      matrix:
        include:
        # Lint with one version from each numpy series
        # Need to be the same as setup-pip for cache
        - numpy: 1.24.2
          python: 3.10.11
        - numpy: 1.26.4
          python: 3.12.10
        - numpy: 2.3.0
          python: *upper_pyver
    uses: ./.github/workflows/_lint-pip.yaml
    with:
      os: ubuntu-24.04
      numpy: ${{ matrix.numpy }}
      python: ${{ matrix.python }}
      activate_command: source venv/bin/activate

  check-version:
    needs: [test-pip, test-conda, lint-pip]
    uses: ./.github/workflows/_version.yaml
    with:
      os: ubuntu-24.04
      python: *upper_pyver
