[Unit]
Description=OpenFisca Web API - New

[Service]
Environment=COUNTRY_PACKAGE=openfisca_france
ExecStart=/home/openfisca/virtualenvs/new-api/bin/gunicorn "openfisca_web_api.app:create_app()" --workers 3 --bind localhost:6000
User=openfisca
Restart=always

[Install]
WantedBy=multi-user.target
